
<div class="container">
    
    <div *ngFor="let semdata of data" >
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Semester {{semdata.semester}}
                </mat-panel-title>
                <mat-panel-description *ngIf="semdata.semester % 2 == 0">
                  Even Semester
                </mat-panel-description>
                <mat-panel-description *ngIf="semdata.semester % 2 == 1">
                    Odd Semester
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="" id="{{semdata.semester}}">
                <table class="table semester-table table-striped" >
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" >
                                    Course Name
                            </th>
                            <th scope="col">
                                Faculty
                            </th>
                            <th  scope="col">
                                Attendance
                            </th>
                        </tr>
                        
                    </thead>
                    <tbody>
                            <tr *ngFor="let course of semdata.courses">
                                <td>{{ course.courseName }}</td>
                                <td>{{ course.faculty }}</td>
                                <td>{{ course.attendance }}</td>
                                <td><a routerLink="{{course.courseName}}"><mat-icon>calendar_today</mat-icon></a></td>
                            </tr>
                            <tr>
                            </tr>
                    </tbody>
                        
                </table>
                </div>
            </mat-expansion-panel>
          </mat-accordion>
          <br><br>
    </div>
</div>
