.student-functions{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}

.navbar-collapse {
    max-height: 340px;
}

a{
    color: #000000;
}