<div>
    <div class="container student-functions">
        <a  routerLink="/courses-enrolled"><app-student-option [source]='"../../assets/images/courses-enrolled.png"' [displayText]='"Courses Enrolled"'></app-student-option></a>
        <a  routerLink="/attendance"><app-student-option [source]='"../../assets/images/attendance.png"' [displayText]='"Attendance"'></app-student-option></a>
        <a  routerLink="/assessment"><app-student-option [source]='"../../assets/images/assessment.png"' [displayText]='"Assessment"'></app-student-option></a>
    </div>
</div>
